body{
  background-color: #b5b8bc;
  text-align: center;
  background-color: #88e072;
}

div{
  border: 2px solid #5d5c61;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}

header{
  border: 2px solid #5d5c61;
  margin: 5px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 10px;
  background-color: #f7f9fb;
}

footer{
  border: 2px solid #5d5c61;
  margin: 5px;
  padding: 5px;
  overflow: hidden;
  border-radius: 10px;
  background-color: #f7f9fb;
}

ul{
  list-style-type: none;
  text-align: center;
  width: 99%;
  padding: 0px;
}
li{
  float: left;
  width: 33%;
  border-left: solid;
}
.first{
  border-left: none;
}

li a{
  display: block;
}

#body{
  display: flex;
  flex-wrap: nowrap;
  background-color: #8fc1e3;
}

#leftBox{
  float: left;
  width: 34%;
  position: relative;
  background-color: #f7f9fb;
}

#rightBox{
  float: right;
  width: 66%;
  position: relative;
  background-color: #f7f9fb;
}
#firstName
{
    width:400px;
    font-size:14pt;
}

#lastName
{
    width:400px;
    font-size:14pt;
}

#email
{
    width:826px;
    font-size:14pt;
}

#address
{
    width:400px;
    font-size:14pt;
}

#phone
{
    width:400px;
    font-size:14pt;
}

#birthday
{
    width:826px;
    font-size:14pt;
}

hr {
    display: block;
    height: 10px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    border-color: black;
}

.activity {
  float: left;
  width: 215px;
  height: 215px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  line-height: 200px;
  text-align: center;
  background: #8fc1e3;
}
