
header{
  border: 2px solid #5085a5;
  margin: 2px;

body{
  background-color: #b5b8bc;
  text-align: center;
  background-color: #88e072;
}

div{
  border: 2px solid #5d5c61;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}

header{
  border: 2px solid #5d5c61;
  margin: 5px;

  margin-bottom: 10px;
  padding: 5px;
  border-radius: 10px;
  background-color: #f7f9fb;
}

div sidebar{

   padding: 5px;
   margin-bottom: 10px;
   padding: 5px;
   border-radius: 10px;
   border: 2px solid #f7f9fb;
   margin: 2px solid #5085a5;
}
ol{


footer{
  border: 2px solid #5d5c61;
  margin: 5px;
  padding: 5px;
  overflow: hidden;
  border-radius: 10px;
  background-color: #f7f9fb;
}

ul{
  list-style-type: none;
  text-align: center;
  width: 99%;
  padding: 0px;
}

.firstA{
  border-left: none;
  list-style-type: none;
}
li b{
  float: left;
  width: 33%;
  border-left:solid;
  display: block;
  list-style-type: none;
}

.options{
  float: right;
  width: 11%;
  list-style-type: none;
  top:0;
  margin: 0;
}
.first{
 float: right;
   width: 11%;
  list-style-type: none;
  top:0;
}
.second{
  float: right;
  width: 11%;
  list-style-type: none;
top:0;

}

.third{
float: right;
width: 11%;
list-style-type: none;
top:0;
=======
li{
  float: left;
  width: 33%;
  border-left: solid;
}
.first{
  border-left: none;
}

li a{
  display: block;
}

#body{
  display: flex;
  flex-wrap: nowrap;
  background-color: #8fc1e3;
}

#leftBox{
  float: left;
  width: 34%;
  position: relative;
  background-color: #f7f9fb;
}

#rightBox{
  float: right;
  width: 66%;
  position: relative;
  background-color: #f7f9fb;
}
